{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智能中心</title>
    <script src="{% static 'SmartCenter/js/Plugin/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'SmartCenter/js/Plugin/echarts.min.js' %}"></script>
    <script src="{% static 'SmartCenter/js/common.js' %}"></script>
    <script src="{% static 'SmartCenter/js/trend.js' %}"></script>


    <!-- <link rel="css" href="{% static 'SmartCenter/css/common.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'SmartCenter/css/common.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- <link href="/static/css/common.css" rel="stylesheet" type="text/css" media="all" /> -->

    <!-- <script src="/static/js/Plugin/jquery-3.3.1.min.js"></script>
    <script src="/static/js/Plugin/echarts.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/trend.js"></script> -->
</head>
<body>
    <!--顶部-->
    <header class="header left">
      <div class="left nav">
          <ul>
              <li><i class="nav_1"></i><a href="{% url 'MainInformation' %}">主要信息</a> </li>
              <li><i class="nav_2"></i><a href="{% url 'UnderWater' %}">水下系统</a> </li>
              <li><i class="nav_3"></i><a href="{% url 'DataCenter' %}">数据中心</a> </li>
    
              <!-- <li class="nav_active"><i class="nav_4"></i><a href="trend.html">智能中心</a> </li> -->
              <li class="nav_active"><i class="nav_2"></i><a href="{% url 'SmartCenter' %}">智能中心</a></li>
              <li><i class="nav_3"></i><a href="{% url 'BackManage' %}">后台管理</a> </li>

              <!-- <li class="nav_5"><i class="nav_5"></i><a href="chronic.html">后台管理</a></li> -->

              <!-- <li class="nav_active"><i class="nav_2"></i><a href="{% url 'SmartCenter_user' %}">智能中心2</a></li> -->
    
            </ul>
      </div>
        <div class="header_center left" style="position:relative">
            <h2><strong>海 洋 牧 场 可 视 化 系 统</strong></h2>
        </div>
        <div class="right showTime text_right"></div>
        <script>
        function time() {  
            var dt = new Date();  
            var y = dt.getFullYear();  
            var mt = dt.getMonth() + 1;  
            var day = dt.getDate();  
            var h = dt.getHours(); // 获取时  
            var m = dt.getMinutes(); // 获取分  
            var s = dt.getSeconds(); // 获取秒  
    
            // 为了确保月份、日期、小时、分钟和秒都是两位数  
            mt = mt < 10 ? '0' + mt : mt;  
            day = day < 10 ? '0' + day : day;  
            h = h < 10 ? '0' + h : h;  
            m = m < 10 ? '0' + m : m;  
            s = s < 10 ? '0' + s : s;  
    
            // 更新显示时间  
            document.querySelector(".showTime").innerHTML =  
                "日期：" +  
                y +  
                "年" +  
                mt +  
                "月" +  
                day +  
                "日" +
                "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+  
                "时间：" +  
                h +  
                "时" +  
                m +  
                "分" +  
                s +  
                "秒";  
    
            // 设定定时器，循环运行  
            setTimeout(time, 1000);  
    }  
  
    // 页面加载完成后立即开始时间显示  
    window.onload = time;  
        </script>


    </header>
    <!--内容部分-->
    <div class="con left" style="width:50%;">
        <!--统计分析图-->
        <div class="div_any">
            <div class="left div_any01" style="width:100%;">
                <div class="div_any_child" style="width:98%;position:relative;height: 420px;">
                    <div class="div_any_title"><img src="{% static 'SmartCenter/images/title_13.png' %}" alt="Example Image">海洋牧场环境感知得分</div>
                    <!-- <div id="histogramChart1"  style="width: 45%;display: inline-block;height: 400px;margin-top: 15px;"></div>
                    <div id="lineChart1"  style="width: 52%;height: 66%;display: inline-block;"></div> -->
                    <div style="width: 50%;height: 20%;display: inline-block;color:red;position: absolute;right: 2%;top: 8%;">
                      <div style="display: inline-block;width:33%;text-align:center;">
                        <div style="color:#fff;font-size: 18px;line-height: 32px;">水质得分</div>
                        <div style="color:#87cefa;font-size: 30px;line-height: 42px;">--</div>
                      </div><div style="display: inline-block;width:33%;text-align:center;">
                        <div style="color:#fff;font-size: 18px;line-height: 32px;">气象得分</div>
                        <div style="color:red;font-size: 30px;line-height: 42px;">--</div>
                      </div><div style="display: inline-block;width:33%;text-align:center;">
                        <div style="color:#fff;font-size: 18px;line-height: 32px;">生态环境得分</div>
                        <div style="color:#ff7f50;font-size: 30px;line-height: 42px;">--</div>
                      </div>
                    </div>
                </div>
            </div>






              <div class="left div_table_box" style="width: 100%;display: flex;">
                  <div class="div_any_child" style="height: 420px;">
                      <div class="div_any_title"><img src="{% static 'SmartCenter/images/title_16.png' %}" alt="Example Image">气象数据</div>
                      <head> <style>
                        body {
                            font-family: Arial, sans-serif;
                        }
                
                        .container {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 20px;
                        }
                
                        .text-container {
                            max-width: 60%;
                            /* 居中展示 */
                            margin: 0 auto; /* 水平居中 */
                            text-align: center; /* 文本内容也居中对齐 */

                        }
                
                        .image-container {
                            min-width: 30%;
                            display: flex; /* 使用Flex布局 */
                            justify-content: center; /* 水平居中 */
                            align-items: center; /* 垂直居中，假设容器有一个确定的高度 */
                        }
                
                        .title {
                            font-size: 24px;
                            margin-bottom: 10px;
                        }
                
                        .description {
                            font-size: 16px;
                            margin-bottom: 20px;
                        }
                
                        img {
                            max-width: 100%;
                        }
                    </style></head>
                     
                     <body>
                        <div class="container">
                            <div class="text-container">
                                <style>
                                    /* 添加内联样式 */
                                    .weather-text {
                                        color: white; /* 更改字体颜色为白色 */
                                        text-align: center; /* 居中对齐 */
                                        line-height: 2; /* 行距 */
                                    }
                                </style>
                                <h1 class="weather-text">{{ city|default:"" }} 的实时天气</h1>
                                {% if error_message %}
                                    <p class="weather-text">{{ error_message }}</p>
                                {% else %}

                                    <p class="weather-text">温度: {{ temperature|default:"" }} °C</p>
                                    <p class="weather-text">天气状况: {{ description|default:"" }}</p>
                                    <p class="weather-text">湿度: {{ humidity|default:"" }}%</p>
                                    <p class="weather-text">风速: {{ wind_speed|default:"" }} 米/秒</p>
                                    <!-- <p class="weather-text">来源:https://openweathermap.org/</p> -->
                                    <p class="weather-text">数据来源: <a href="https://openweathermap.org/" target="_blank">OpenWeatherMap</a></p>
                    
                                {% endif %}
                                <!-- <div class="title">Tianjin 的实时天气</div>
                                <div class="description">温度：27.97°C</div>
                                <div class="description">天气状况：晴</div>
                                <div class="description">湿度：47%</div>
                                <div class="description">风速：4米/秒</div>
                                <div class="description">来源：<a href="https://openweathermap.org/">https://openweathermap.org/</a></div> -->
                            </div>
                            <div class="image-container">
                                <canvas id="weatherChart" width="400" height="400"></canvas>
                              <script>
                                // 确保页面加载完成后再执行此脚本
                                document.addEventListener('DOMContentLoaded', function() {
                                    // 从Django模板上下文中获取数据
                                    var temperature = {{ temperature|safe }};
                                    var humidity = {{ humidity|safe }};
                                    var windSpeed = {{ wind_speed|safe }};
                            
                                    // 初始化图表
                                    var ctx = document.getElementById('weatherChart').getContext('2d');
                                    var weatherChart = new Chart(ctx, {
                                        type: 'bar', // 或者'doughnut', 'line', 'pie'等，根据需要选择图表类型
                                        data: {
                                            labels: ['温度', '湿度', '风速'],
                                            datasets: [{
                                                label: '当前天气状况',
                                                data: [temperature, humidity, windSpeed],
                                                backgroundColor: [
                                                    'rgba(255, 99, 132, 0.2)',
                                                    'rgba(54, 162, 235, 0.2)',
                                                    'rgba(255, 206, 86, 0.2)',
                                                ],
                                                borderColor: [
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(54, 162, 235, 1)',
                                                    'rgba(255, 206, 86, 1)',
                                                ],
                                                borderWidth: 1,
                                            }]
                                        },
                                        options: {
                                            scales: {
                                                yAxes: [{
                                                    ticks: {
                                                        beginAtZero: true
                                                    }
                                                }]
                                            }
                                        }
                                    });
                                });
                            </script>
                            </div>
                        </div>
                    </body>



                      
                  </div>
              </div>
          </div>
        </div>
    </div>
    <div class="con right" style="width:50%;">
      <div class="div_any">
          <div class="left div_any01" style="width:100%;">
              <div class="div_any_child" style="width:98%;position:relative;height: 420px;">
                  <div class="div_any_title"><img src="{% static 'SmartCenter/images/title_17.png' %}" alt="Example Image">图像识别效果</div>
                  <div id="histogramChart3"  style="width: 45%;display: inline-block;height: 400px;margin-top: 15px;"></div>
                  <div id="lineChart2"  style="width: 52%;height: 90%;display: inline-block;"></div>
              </div>
          </div>
          <div class="left div_any01" style="width:48%;">
            <div class="div_any_child" style="height: 420px;">
                <div class="div_any_title"><img src="{% static 'SmartCenter/images/title_18.png' %}" alt="Example Image">识别出鱼的信息</div>
                <p id="pieChart1" class="p_chart" style="height: 400px;"></p>
            </div>
          </div>
          <div class="right div_any01" style="width:48%;">
              <div class="div_any_child" style="height: 420px;">
                  <div class="div_any_title"><img src="{% static 'SmartCenter/images/title_19.png' %}" alt="Example Image">AI决策</div>
                  <p id="pieChart2" class="p_chart" style="height: 400px;"></p>
              </div>
          </div>
      </div>
    </div>
    </body>
    </html>