{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海洋牧场可视化系统</title>
    <link href="{% static 'MainInformation/css/common.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'MainInformation/js/Plugin/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'MainInformation/js/Plugin/echarts.min.js' %}"></script>
    <script src="{% static 'MainInformation/js/Plugin/bmap.min.js' %}"></script>
    <script src="{% static 'MainInformation/js/common.js' %}"></script>
    <script src="{% static 'MainInformation/js/NCDindex.js' %}"></script>
</head>
<body>

<!--顶部-->
<header class="header left">
    <div class="left nav">
        <ul>
            <li class="nav_active"><i class="nav_1"></i><a href="{% url 'MainInformation' %}">主要信息</a></li>
            <li><i class="nav_2"></i><a href="{% url 'UnderWater' %}">水下系统</a></li>
            <li><i class="nav_3"></i><a href="{% url 'DataCenter' %}">数据中心</a></li>
            <li><i class="nav_4"></i><a href="{% url 'SmartCenter' %}">智能中心</a></li>
            <li><i class="nav_5"></i><a href="{% url 'BackManage' %}">管理中心</a></li>
          </ul>
    </div>
    <div class="header_center left" style="position:relative">
        <h2><strong>海 洋 牧 场 可 视 化 系 统</strong></h2>

    </div>
    <div class="right showTime text_right"></div>

<script>
function updateTime() {
    var dt = new Date();  
    var y = dt.getFullYear();  
    var mt = dt.getMonth() + 1;  
    var day = dt.getDate();  
    var h = dt.getHours(); // 获取时  
    var m = dt.getMinutes(); // 获取分  
    var s = dt.getSeconds(); // 获取秒  

    // 为了确保月份、日期、小时、分钟和秒都是两位数  
    mt = mt < 10 ? '0' + mt : mt;  
    day = day < 10 ? '0' + day : day;  
    h = h < 10 ? '0' + h : h;  
    m = m < 10 ? '0' + m : m;  
    s = s < 10 ? '0' + s : s;  

    // 更新显示时间  
    document.querySelector(".showTime").innerHTML =  
        "日期：" +  
        y +  
        "年" +  
        mt +  
        "月" +  
        day +  
        "日" +
        "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+  
        "时间：" +  
        h +  
        "时" +  
        m +  
        "分" +  
        s +  
        "秒";  
}

// 立即显示时间
updateTime();

// 设定定时器，循环运行  
setInterval(updateTime, 1000);
</script>



</header>



<!--内容部分-->
<div class="con left">
    <div class="div_any">
        <!--监控视频-->
        <div class="div_any04 left ">
            <div class="div_any_child div_height">
                <div class="div_any_title"><img src="{% static 'MainInformation/images/title_1.png' %}">监控视频</div>

                <div class="empty-row"></div>
                <div class="button-container">
                    <button onclick="changeVideo('video1')" class="blue-button active">监控1</button>
                    <button onclick="changeVideo('video2')" class="blue-button">监控2</button>
                    <button onclick="changeVideo('video3')" class="blue-button">监控3</button>
                    <button onclick="changeVideo('video4')" class="blue-button">监控4</button>
                </div>
                
                <div class="video-container">
                    <video id="video1" src="{% static 'MainInformation/videos/video1.mp4' %}" loop muted></video>
                    <video id="video2" src="{% static 'MainInformation/videos/video2.mp4' %}" loop muted></video>
                    <video id="video3" src="{% static 'MainInformation/videos/video3.mp4' %}" loop muted></video>
                    <video id="video4" src="{% static 'MainInformation/videos/video4.mp4' %}" loop muted></video>
                </div>

                


                
            </div>


            



        </div>
        <div class="left div_any05">
            <div class="div_any_child">
                <div class="div_any_title"><img src="{% static 'MainInformation/images/title_1.png' %}">水文气象</div>
                
            </div>
            <div class="div_any_child">
                <div class="div_any_title"><img src="{% static 'MainInformation/images/title_2.png' %}">定位</div>
                <div class="empty-row"></div>
                <div class="empty-row"></div>
                <div id="wrapper"></div>
                <style>
                    #wrapper{
                        width: 85%;
                        height: 75%;
                        margin-left: auto;
                        margin-right: auto;
                        display: block;
                        text-align: center;
                        border: 1px solid #034c6a;
                        box-sizing: border-box;
                    }
                </style>

                
                <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.8&key=ab69b13db701db1bfd29d1cbd258da40"></script> 
                

                <script>
                    //初始化地图插件
                    window.onload = function(){
                        var map = new AMap.Map('wrapper', {
                            zoom: 12,
                            center: [117.1219, 39.0801] // 天津渤海湾的经纬度
                        });
                        var satelliteLayer = new AMap.TileLayer.Satellite({
                            zIndex: 9
                        });
                        map.add(satelliteLayer);//添加图层到地图
                    }
                </script>

            </div>
        </div>
        <div class="right div_any05">
            <div class="div_any_child">
                <div class="div_any_title"><img src="{% static 'MainInformation/images/title_3.png' %}">历史记录</div>
                
            </div>
            <div class="div_any_child">
                <div class="div_any_title"><img src="{% static 'MainInformation/images/title_4.png' %}">设备状态</div>
                <div class="empty-row"></div>
                <div class="button-container">
                    <button  class="blue-button active">主控</button>
                    <button  class="blue-button">时间校准</button>
                    <button  class="blue-button">通道</button>
                    <button  class="blue-button">告警</button>
                </div>
            </div>
        </div>
    </div>
    


</div>



</body>
</html>
